*.iml
.gradle/
local.properties
.idea/caches
.idea/libraries
.idea/gradle.xml
.idea/misc.xml
.idea/compiler.xml
.idea/modules.xml
.idea/workspace.xml
.idea/navEditor.xml
.idea/assetWizardSettings.xml
.DS_Store
/build
caches/
daemon/
native/
wrapper/
/captures
.externalNativeBuild
.cxx
